body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{ 
    margin:0px; 
    padding:0px; 
    border-radius: 0px; 
    box-sizing: border-box; 
    font-size: 110%; 
} 
  
#root{ 
    text-align:center; 
}

.calculator-title{ 
    font-size:30px; 
    background: #fff; 
    width: 400px; 
    padding: 10px 10px; 
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-radius: 2px; 
    border: 2px solid black; 
    color: #4CAF50; 
} 

.mainCalc{ 
    margin:0px; 
    padding:0px; 
    border-radius: 0px; 
    box-sizing: border-box; 
} 
.screen-row input{ 
    width: 400px; 
    background: #ddd; 
    border: 0px; 
    color: #222; 
    padding: 10px; 
    text-align: right; 
} 

input[type="button"]{ 
  width: 100px; 
  background: #4CAF50; 
  border: 1px solid #222; 
  padding: 10px 20px; 
  color: black; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
} 
  
input[type="button"]:active{ 
    background: #ccc; 
}
